/* styles.css */
@font-face {
    font-family: "Amperzand";
    src: url("https://bloomymarsh.github.io/font/Amperzand.ttf") format("truetype");
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker .content{
  font-weight: bold;
}

/* General body styling */
title {
  font-family: Amperzand, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body {
  font-family: Newsreader, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  color: black;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  padding: 20px;
}

h2 {
  color: #333;
}

/* Container for the grid layout */
.container {
  width: 1400px;
  margin: 20px auto;
  columns: 3;
  column-gap: 10px;
}
.container .box {
  width: 100%;
  margin-bottom: 10px;
}

.container .box img {
  max-width: 100%;
  /*   border-radius: 15px; */
}
.card-body {
  font-family: Newsreader, serif;
  padding: 10px;
}

.card-title {
  font-family: Newsreader, serif;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.card-text {
  font-family: Newsreader, serif;
  font-size: 0.9em;
  color: #555;
}

footer {
  font-family: Newsreader, serif;
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
