/* styles.css */
@font-face {
  font-family: "Amperzand";
  src: url("https://raw.githubusercontent.com/bloomymarsh/bloomymarsh.github.io/main/font/Amperzand.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noe";
  src: url("https://github.com/bloomymarsh/bloomymarsh.github.io/blob/main/font/Noe-Display-Bold.ttf")
    format("truetype");
}

/* Ensure proper box-sizing globally */
* {
  box-sizing: border-box;
}

/* Reset body margins to avoid overflow */
body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: Newsreader, serif;
  padding: 0;
  background-color: #f4f4f4;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Adds space inside the header */
  width: 100%;
  max-width: 100%; /* Ensure no overflow */
}

.header-section.left {
  width: calc(33.3% - 1px); /* Account for border width */
  text-align: right;
  border-right: 2px solid black; /* Right border for the left section */
  padding-right: 15px;
}

.header-section.middle {
  width: 33.3%;
  text-align: center;
}

.header-section.right {
  display: flex; /* Enable flexbox */
  align-items: center; /* Vertically align items */
  gap: 15px; /* Add space between the image and text */
  width: calc(33.3% - 1px); /* Maintain width and border */
  text-align: left;
  border-left: 2px solid black;
  padding-left: 15px;
}

.rightpicsec {
  position: relative;
}

.rightpicsec .rightpic-hover {
  display: none;
  position: absolute; /* Ensure hover content works as intended */
  top: 0;
  left: 0;
}

.rightpicsec:hover .rightpic-hover {
  display: block;
}

.header-section.right div.text-container {
  display: flex;
  flex-direction: column; /* Stack the title and paragraph */
}

.header-section h4,
.header-section p {
  margin: 5px 0; /* Adjust margins for better spacing */
}

.header-section.middle h1 {
  font-family: Amperzand, serif;
  font-size: 30px;
  margin: 0;
  line-height: 1.2; /* Adjust line height for better readability */
}

.stock-ticker {
  font-size: 15px;
  border-block: 3px solid;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 40s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker .content {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

/* section {
  padding: 20px;
} */

h2 {
  color: #333;
}

/* Container for the grid layout */
.container {
  width: 100%;
  margin: 50px auto;
  columns: 3;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*   padding: 100px; */
  padding-left: 200px;
  padding-right: 200px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
}

.container .box img {
  max-width: 100%;
  /*   border-radius: 15px; */
}
.card-body {
  font-family: Newsreader, serif;
  padding: 10px;
}

.card-title {
  font-family: Newsreader, serif;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.card-text {
  font-family: Newsreader, serif;
  font-size: 0.9em;
  color: #555;
}

.box.box1 {
  position: relative; /* Keep relative positioning for hover effects */
}

.box.box1 img {
  width: 100%; /* Ensure the image adapts to column width */
}

.box.box1 .posters-hover {
  display: none;
  position: absolute; /* Ensure hover content works as intended */
  top: 0;
  left: 0;
}

.box.box1:hover .posters-hover {
  display: block;
}

footer {
  font-family: Newsreader, serif;
  color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Adjust layout of header and sections for small screens */
@media (max-width: 768px) {
  /* Hide left and right sections */
/*   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  .header-section.left,
  .header-section.right {
    display: none;
  }

  .header-section.middle {
    width: 100%;
    text-align: center;
  }

  .container {
    columns: 1;
    padding: 40px;
  }
}

/* #gameIframe {
  border: none;} */

/* RAT START */

#ratContainer {
  /*   background-image: url(https://raw.githubusercontent.com/bloomymarsh/bloomymarsh.github.io/refs/heads/main/Ratatouille.png); */
  /*   width: 315px; */
  /*   height: 650px; */
  overflow: hidden;
  position: relative;
}

.rectangle {
  position: absolute;
  top: -450px;
  left: 0px;
  width: 500px;
  height: 1000px;
  border: 3px solid black;
  border-radius: 5rem;
  outline: 3px ridge;
  outline-offset: 50px;
  background-color: lightgray;
  transform: rotate(40deg);
  z-index: -1;
}

button {
  background: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 5px 5px;
  cursor: pointer;
  align-content: center;
}

#gameTitle {
  animation: pulse 1s steps(1) infinite;
  position: absolute;
  bottom: 5%;
  right: 15%;
  color: black;
  z-index: 10;
  font-weight: bold;
  text-align: right;
  line-height: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.2); /* Bigger size */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

#score {
  position: absolute;
  bottom: 75px;
  right: 65px;
  font-weight: bold;
  font-size: 60px;
}

#time {
  /*   display: none; */
  background: black;
  border: 2px solid grey;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
  width: 85%;
  padding: 5px 5px;
  text-align: center;
}

#popupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -200%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Make sure the image is on top */
}

#popupImage {
  width: 100px; /* Adjust the size of the image */
  height: auto;
}

#rat {
  width: 80%;
  transform: translate(0px, 100px) rotate(35deg);
  cursor: pointer;
}

@keyframes rat1 {
  0% {
    transform: translateX(-320px) translateY(550px) rotate(-135deg);
  }
  50% {
    transform: translateX(320px) translateY(-100px) rotate(-135deg);
  }
  51% {
    transform: translateX(320px) translateY(-200px) rotate(45deg);
  }
  100% {
    transform: translateX(-320px) translateY(550px) rotate(45deg);
  }
}

#paw {
  position: absolute;
  width: 100%;
  bottom: 150px;
  left: 200px;
  transform: rotate(-20deg);
  transform-origin: bottom center;
  transition: transform 0.2s;
  pointer-events: none;
}

/* Medium CSS */
.medium {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  font-family: Noe, serif;
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

